.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 1.5rem;
  padding-top: 2rem;
}

.header__logo {
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--logo);
}

@media screen and (min-width: 767px) {
  .header {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-left: 22rem;
    padding-right: 22rem;
  }
}
