body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-light: #f6f8ff;
  --background-dark: #141d2f;

  --logo-light: #222731;
  --logo-dark: #fff;

  --text-dark: #ffffff;
  --text-light: #4b6a9b;

  --text-dark-stats: #ffffff;
  --text-light-stats: #2b3442;

  --banner-dark: #1e2a47;
  --banner-light: #fefefe;

  --warning: #f74646;

  --tag-and-button: #0079ff;

  --created-at-light: #697c9a;
}

body[data-theme="light"] {
  --background: var(--background-light);
  --logo: var(--logo-light);
  --text: var(--text-light);
  --text-stats: var(--text-light-stats);
  --banner: var(--banner-light);
  --created-at: var(--text-light-stats);
}

body[data-theme="dark"] {
  --background: var(--background-dark);
  --logo: var(--logo-dark);
  --text: var(--text-dark);
  --text-stats: var(--text-dark-stats);
  --banner: var(--banner-dark);
  --created-at: var(--text-dark);
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  font-family: "Space Mono", monospace;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
}
