.user-banner {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  width: auto;
  min-height: 32rem;
  margin: auto;
  margin-bottom: 4.5rem;
  margin-inline: 1.5rem;
  background-color: var(--banner);
  border-radius: 0.9375rem;
}

@media screen and (min-width: 768px) {
  .user-banner {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
